<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extras</key>
	<array>
		<dict>
			<key>category</key>
			<string>Fruit</string>
			<key>name</key>
			<string>Apple</string>
			<key>photo</key>
			<string>apple</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Garniture</string>
			<key>name</key>
			<string>Bacon</string>
			<key>photo</key>
			<string>bacon</string>
			<key>id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Fruit</string>
			<key>name</key>
			<string>Banana</string>
			<key>photo</key>
			<string>banana</string>
			<key>id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Beans</string>
			<key>photo</key>
			<string>beans</string>
			<key>id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Carrot</string>
			<key>photo</key>
			<string>carrot</string>
			<key>id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Garniture</string>
			<key>name</key>
			<string>Cheese</string>
			<key>photo</key>
			<string>cheese</string>
			<key>id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Spices</string>
			<key>name</key>
			<string>Chili Pepper</string>
			<key>photo</key>
			<string>chili</string>
			<key>id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Extra</string>
			<key>name</key>
			<string>French Fries</string>
			<key>photo</key>
			<string>chips</string>
			<key>id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Cucumber</string>
			<key>photo</key>
			<string>cucumber</string>
			<key>id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Fruit</string>
			<key>name</key>
			<string>Lemon</string>
			<key>photo</key>
			<string>lemon</string>
			<key>id</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Lettuce</string>
			<key>photo</key>
			<string>lettuce</string>
			<key>id</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Garniture</string>
			<key>name</key>
			<string>Onions</string>
			<key>photo</key>
			<string>onion</string>
			<key>id</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Bell Pepper</string>
			<key>photo</key>
			<string>paprika</string>
			<key>id</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Garniture</string>
			<key>name</key>
			<string>Pickle</string>
			<key>photo</key>
			<string>pickle</string>
			<key>id</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>category</key>
			<string>Vegetable</string>
			<key>name</key>
			<string>Tomato</string>
			<key>photo</key>
			<string>tomato</string>
			<key>id</key>
			<integer>15</integer>
		</dict>
	</array>
	<key>sausdetails</key>
	<array>
		<dict>
			<key>R</key>
			<integer>96</integer>
			<key>G</key>
			<integer>30</integer>
			<key>B</key>
			<integer>27</integer>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>BBQ</string>
		</dict>
		<dict>
			<key>R</key>
			<integer>164</integer>
			<key>G</key>
			<integer>107</integer>
			<key>B</key>
			<integer>56</integer>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Truffle</string>
		</dict>
		<dict>
			<key>R</key>
			<integer>255</integer>
			<key>G</key>
			<integer>239</integer>
			<key>B</key>
			<integer>164</integer>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Babaganouch</string>
		</dict>
		<dict>
			<key>R</key>
			<integer>72</integer>
			<key>G</key>
			<integer>14</integer>
			<key>B</key>
			<integer>14</integer>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Butcher Sauce</string>
		</dict>
		<dict>
			<key>R</key>
			<integer>254</integer>
			<key>G</key>
			<integer>246</integer>
			<key>B</key>
			<integer>215</integer>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Tahini</string>
		</dict>
	</array>
	<key>meatdetails</key>
	<array>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>rib</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Short Loin</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Sirloan</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Fore Shank</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Short Plate</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Flank</string>
		</dict>
	</array>
	<key>minigames</key>
	<array>
		<dict>
			<key>desc</key>
			<string>Starting the game...</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Choose your favorite piece of Aberdeen Angus</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Now butcher the piece to a burger</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Cook the burger the way you want him</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Add some extra&apos;s</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Finish it with a delightfull sausce</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Add your final special touch!</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Submit your burger</string>
		</dict>
	</array>
</dict>
</plist>
