<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meatdetails</key>
	<array>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>rib</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Short Loin</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Sirloan</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Fore Shank</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Short Plate</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>&quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;</string>
			<key>name</key>
			<string>Flank</string>
		</dict>
	</array>
	<key>minigames</key>
	<array>
		<dict>
			<key>desc</key>
			<string>Starting the game...</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Cut your favorite slice</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Pop it like it&apos;s hot!</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Cut your favorite slice</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Cut your favorite slice</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Cut your favorite slice</string>
		</dict>
	</array>
</dict>
</plist>
